.page-container {
    padding: 25px;
}

.form-card {
    max-width: 600px;
    margin: 0 auto;
}

.form-title {
    text-align: center;
    margin-bottom: 35px;
    font-weight: 600;
    color: #5a6268;
    border-bottom: 1px solid #ede7e1;
    padding-bottom: 20px;
    font-size: 1.6rem;
}


.form-actions {
    margin-top: 30px;
}

.button-full {
    width: 100%;
}


.general-form-error {
    display: block;
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}