
<div  class="contactRow" [class.favourite]="contact().isFavourite === true">
    <span>
        {{contact().firstName}} {{contact().lastName}} 
    </span>
    <span>{{contact().number}}</span>
    <span>{{contact().email}}</span>
    <span>-</span>
    <span class="actions">
        <button class="mainButton" (click)="openDeleteModal()">Borrar</button>
        <a  class="btnLink"[routerLink]="['/contacts', contact().id, 'edit']"> Editar</a>
    </span>
    @if (contact().isFavourite === true) {⭐}
</div>

<!-- Si quiero mostrar todos los atributos, los agrego aca --> 