
<div  class="contactRow" [class.favorite]="contact().isFavorite === true">
    <span>
        @if (contact().isFavorite) { ⭐ }
        {{ contact().firstName }} {{ contact().lastName }}
    </span>
    <span>{{contact().number}}</span>
    <span>{{contact().email}}</span>
    <span>-</span>
    <span class="actions">
        <button  type="button" class="mainButton" (click)="openDeleteModal()">Borrar</button>
        <a  class="btnLink" [routerLink]="['/contacts', contact().id]">Editar</a>
    </span>
</div>

<!-- Si quiero mostrar todos los atributos, los agrego aca --> 