.gridHeader{
    display: grid;
    grid-template-columns: 2fr 1.2fr 2fr 1fr 1fr; /* Nombre, Tel, Email, Grupos, Acciones */
    column-gap: 12px;
    align-items: center;
    width: min(1100px, 95%);
    margin: 0 auto;
}

.list{
  padding: 10px 12px;
  background: lightgray;
  color: rgb(113, 101, 248);
  font-size: 18px;
  font-weight: bold;
  border-radius: 6px;
}

.title a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(113,101,248);
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
}

.title a:hover {
background-color: darkblue;
}

.error {
color: red;
font-size: 14px;
}

.title{
    display: inline-block;
    margin: 6px 6px 12px 0;
}