li {
display: flex;
justify-content: space-between;
margin: 10px auto;
padding: 10px;
width: 80%;
background-color: lightgray;
color: rgb(113, 101, 248);
font-size: 18px;
font-weight: bold;
}  


a {
text-decoration: none;
transition: color 0.3s;
padding: 10px 20px;
background-color: rgb(113, 101, 248);
color: white;
border: none;
border-radius: 6px;
font-weight: bold;
}

a:hover {
background-color: darkblue;
}

.error {
color: red;
font-size: 14px;
}

.title{
    display: flex;
    padding: 5px;
}