<div class="center-content page-wrapper"> <div class="card auth-box">
  <h1 class="form-title">Iniciar Sesión</h1>

  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="login-form-content">
    <div class="form-item">
      <label for="email">Correo electrónico</label>
      <input id="email" name="email" type="email" ngModel required email #email="ngModel" autocomplete="email" class="input-text">
      @if (email.invalid && !email.pristine) {
        @if (email.errors?.['required']) {
           <span class="text-error">El correo es obligatorio.</span>
        }
        @if (email.errors?.['email']) {
           <span class="text-error">Ingrese un formato de correo válido.</span>
        }
     }
    </div>

    <div class="form-item">
      <label for="password">Contraseña</label>
      <input id="password" name="password" type="password" ngModel required minlength="4" #password="ngModel" autocomplete="current-password" class="input-text">
      @if (password.invalid && !password.pristine) {
             @if (password.errors?.['required']) {
                <span class="text-error">La contraseña es obligatoria.</span>
             }
             @if (password.errors?.['minlength']) {
               <span class="text-error">Debe tener al menos 4 caracteres.</span>
             }
          } 
    </div>

    <div class="form-actions">
      <button type="submit" [disabled]="isLoading || loginForm.invalid" class="button button-main button-full">
          <span>Iniciar sesión</span>
      </button>
  </div>
    @if (isLoading){
          <div class="spinner-area">
              <app-spinner></app-spinner>
          </div>
        }

        @if (errorLogin) {
          <span class="text-error general-form-error"> Datos de sesión incorrectos, intenta nuevamente</span>
        }

    <div class="form-footer">
        <span class="footer-text">¿No tenés cuenta?</span>
        <a routerLink="/register" class="footer-link">Registrate</a>
     </div>

    </form>

  </div>
</div>
